<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>SQL抽出ツール</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>
<body>
  <body>
    <div id="app">
        <v-container v-cloak>
            <v-row>
              <v-col cols="2"></v-col>
              <v-col cols="6">
                <h1 class="text-center" >SQL抽出ツール</h1>
              </v-col>
              <v-col cols="2"></v-col>
            </v-row>
            <v-row  v-if="displayObject != '' ">
              <table>
                <thead>
                  <tr>
                    <th>テーブル名</th>
                    <th>CRUD</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="idx in displayObject">
                    <td>{{idx.tableName}}</td>
                    <td>{{idx.CRUD}}</td>
                  </tr>
                </tbody>
                  </table>
            </v-row>
            <v-row>
              <v-col xl cols="2"></v-col>
              <v-col xl cols="6">
                <p>SQL抽出するプログラムを入力してください</p>
              </v-col>
              <v-col xl cols="2"></v-col>
            </v-row>
            <v-textarea
              solo
              label="ここにプログラムを入力してください"
              v-model="targetProgram"
            ></v-textarea>
            <v-row>
              <v-col>
              <v-btn
                x-large
                @click="editMain(targetProgram)"
                width="100%"
              >変換</v-btn>
              </v-col>
              <v-col>
                <v-btn
                  x-large
                  v-on:click="delItem()"
                  width="100%"
                >削除</v-btn>
              </v-col>
            </v-row>
            <v-row>
              <p>{{targetProgram}}</p>
            </v-row>
          </v-container>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./dbdata.js" charset="UTF-8"></script>
    <script src="./main.js" charset="UTF-8"></script>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          targetProgram: '',
          displayObject : '',
        },
        methods: {
          editMain: function (item) {
            this.displayObject = ObjectToListForDisplayTable(extractSQL(item))
          },
          delItem: function () {
            this.displayObject = ''
            this.targetProgram = ''
          }
        }
      })

    </script>
  </body>

</html>